
.about-me {
    padding: .6rem;
    min-height: 35vh;
    background-color: var(--bg-color-about-me);

    h2 {
        color: var(--color-text-secundary);
        margin-bottom: .7rem;
    }
    p {
        text-align: center;
        font-size: 1.1rem;
    }
}