
.hero {

    min-height: 100vh;
    background-color: var(--color-primary);

    img {
        border-radius: 10px;
        margin-bottom: 1.6rem;
        
    }
    h1 {
        text-align: center;
        margin-top: .6rem;
        color: var(--color-hero-title);
    }
    p {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: .7rem;
        line-height: 1.4;
        color: var(--color-paragrahp);
    }

    &__actions {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;

        button {
            
        }

    }

}