/* Modern Reset - Inspirado en Normalize pero simplificado */

// 1. Box sizing global (Incluye padding y border en el ancho total)
*, *::before, *::after {
  box-sizing: border-box;
}

// 2. Quitar márgenes por defecto de elementos comunes
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

// 3. Configurar el cuerpo para una mejor experiencia
body {
  /* Convertimos el body en un contenedor flexible */
  display: flex;
  flex-direction: column;
  
  /* 100dvh es la unidad moderna de 2026 que se ajusta 
     perfectamente a las pantallas de móviles */
  min-height: 100dvh;

  text-rendering: optimizeLegibility; /* Mejor para la experiencia de lectura */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Soporte para Firefox en macOS */
}

main {
  /* Ocupa el espacio disponible, asegurando que el footer se mantenga al final */
  flex-grow: 1;
}

// 4. Hacer que las imágenes sean fáciles de manejar
img, picture {
  max-width: 100%;
  display: block;
}

// 5. Heredar fuentes para inputs y botones
button, input, select, textarea {
  appearance: none; //Esta propiedad elimina la estética nativa del sistema operativo.
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 24px;
}

// 6. Quitar decoraciones de listas y enlaces (Opcional pero recomendado)
ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}